<h1>After multiple interrogations..</h1>

<p>You have narrowed down your possible suspects and are ready for your final
  accusation.  Choose wisely, as this choice could be your last</p>

<div class="form-group">
  <div class="row center">
    <div class="col-xs-3">
      <label for="suspects">¿Dustin?</label>
      <img src="css/dustin.JPG" ng-click="suspect = 'dustin'">
    </div>
    <div class="col-xs-3">
      <label for="suspects">¿Gabe?</label>
      <img src="css/gabe.JPG" ng-click="suspect = 'gabe'">
    </div>
    <div class="col-xs-3">
      <label for="suspects">¿Jay?</label>
      <img src="css/jay.JPG" ng-click="suspect = 'jay'">
    </div>
    <div class="col-xs-3">
      <label for="suspects">¿Tyler?</label>
      <img src="css/tyler.JPG" ng-click="suspect = 'tyler'">
    </div>
  </div>
</div>

<div ng-show="suspect">
  <div class="col-xs-12" ng-show="suspect === 'tyler'">
    <p>Correct!</p>
  </div>
  <div class="col-xs-12" ng-show="suspect !== 'tyler'">
    <p>False!</p>
  </div>
</div>
