<h1><marquee>Welcome to the World's first Donut RPG!</marquee></h1>

<form ng-submit="DetectiveFactory.addDetective()" class="form-inline" role="form">
  <div class="form-group">
    <input type="text" ng-model="DetectiveFactory.inputtedName" class="form-control" placeholder="Enter Your Name" required>
    <h4>What is your favorite type of Donut?</h4>
    <select ng-model="DetectiveFactory.inputtedFavorite" class="form-control" ng-options="item for item in possibleFavorites">
    </select><br><br>
  <button type="submit" class="btn btn-success">Click here to begin your adventure</button>
  </div>
</form>
