<h1>You walk into the lunch room...</h1>

<p>And discover that your benevolent classmate Clem has left a box of donuts
for the entire class to enjoy.  You walk up to this box and discover the box is
completely empty.  All that is left is a partially chewed {{ detective.favorite }}
donut.  Enraged that the donuts are all gone, your frantic eyes search for clues as to who
could have perpetrated such an injustice, and your eye falls upon {{ suspect.dropped }}</p>

<!-- <div class="col-xs-12">
  <h3>Add a new course:</h3>
  <form ng-submit="CoursesFactory.addCourse()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="CoursesFactory.courseName" class="form-control" placeholder="Enter a course name">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div> -->

<div ui-view></div>
