<h1>You walk into the lunch room...</h1>

<p>And discover that your benevolent classmate Clem has left a box of donuts
for the entire class to enjoy.  You walk up to this box and discover the box is
completely empty.  All that is left is a partially chewed {{ detective.favorite }}
donut.  Enraged that the donuts are all gone, your frantic eyes search for clues as to who
could have perpetrated such an injustice, and your eye falls upon {{ SuspectsFactory.innocents[0].item }}.</p>

{{ SuspectsFactory.innocents }}

<div class="row">
  <div class="col-xs-6">
<img src="css/{{ SuspectsFactory.innocents[1].name }}.JPG" ng-click="suspect = '{{ SuspectsFactory.innocents[1].name }}'">
  </div>
  <div class="col-xs-6">
<img src="css/{{ SuspectsFactory.innocents[0].name }}.JPG" ng-click="suspect = '{{ SuspectsFactory.innocents[0].name }}'">
  </div>
</div>
