<h1>You walk up to {{ whoever you walk up to }}, angrily waving about the {{ innocent.item }}</h1>

<p>"Whoa, whoa, whoa, Detective {{detective.name}}," he said.  "I couldn't
  have been in the lunch room at the time of the deed! I was busy out here,
  looking for my missing {{ innocent.item }}.  Thanks for finding it!
  I just looked in the in the lunchroom trash and found {{guilty.item}}.
  I also know that you aren't above eating from the garbage, and while digging in there,
  I found this {{ donut }}.  You look hungry.  Here, eat it.</p>


  <h3><a ui-sref="final-countdown">Next Stage</a></h3>
